body, html {
  height: 100%;
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-image: url('../images/space_background_pixel_art.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* General header styling */
header {
  background-color: rgba(255, 255, 255, 0.8);
  color: #bb74ea;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

/* Navigation container styling */
nav {
  width: 100%;
  display: flex;
  align-items: center;
}

/* Styling for navigation links */
nav a {
  color: #bb74ea;
  text-decoration: none;
  margin-right: 20px;
}

.boxes-container {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  gap: 20px;
}


.box { 
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  max-height: 400px; 
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden;
}

/* Specific widths for each box */
.box-form {
  flex: 0 0 300px; /* Adjusted for form inputs and buttons */
  margin: 10px;
}

.box-contacts {
  flex-wrap: 1; /* Larger space for listing contacts */
  margin: 10px;
}


.box h2 {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 2px;
}

input[type="text"], input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #bb74ea;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}


.delete-button {
  background-color: transparent;
  color: red;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1em;
}

button:hover {
  opacity: 0.8;
}

#contact-list {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; 
}

#contact-list .contact-item {
  display: flex;
  justify-content: space-between; /* Aligns children (contentDiv and deleteBtn) on opposite ends */
  align-items: center; /* Centers children vertically */
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 5px; /* Space between items */
}

.content-div {
  display: flex;
  flex-direction: column; /* Stack name and email vertically */
}

.name-text, .email-text {
  margin-bottom: 5px; 
}
