body, html {
  height: 100%;
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-image: url('../images/space_background_pixel_art.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  color: #bb74ea;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px; 
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
}

nav a {
  color: #bb74ea;
  text-decoration: none;
  margin-right: 20px;
}

.boxes-container {
  display: flex;
  flex-direction: row; 
  max-width: 1000px; 
  margin: 0 auto;
  margin-top: 50px; 
  align-items: stretch;
}

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px; 
  margin: 20px; 
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.box-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.collapsible-container {
  position: relative;
}

.content {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  z-index: 100;
  overflow-y: auto; /* Ensures vertical scrolling */
  max-height: 220px; 
  border-radius: 5px;
}

button.collapsible.active + .content {
  display: block;
}

button {
  background-color: #bb74ea;
  color: white;
  padding: 12px; 
  border: none;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#eventList li, #inviteList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

#inviteList {
  flex-grow: 1;
  overflow-y: auto; /* Allows vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  margin-bottom: 10px;
  list-style: none; 
  padding: 0;
  max-height: 300px; 
}

#inviteList li {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  padding: 8px; /* Padding around content */
  border-bottom: 1px solid #ccc; 
  border-radius: 10px;
  margin-bottom: 8px; /* Space between list items */
  position: relative; /* Position context for the check mark */
  background-color: #f9f9f9; 
}

.invite-item .email-text, .invite-item .name-text {
  display: block; /* Ensures text is on a new line */
  width: 100%; 
}

.invite-mark {
  position: absolute; 
  top: 0; 
  right: 10px; 
  color: green; 
  font-size: 16px; 
}

#inviteName, #inviteEmail {
  font-size: 12px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: calc(100% - 22px);
  margin-bottom: 5px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.add-invite-button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 10px; 
}

#add-invite-button {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #bb74ea;
  color: white;
  padding: 12px; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%; 
}

#add-invite-button:hover {
  opacity: 0.8;
}
