body, html {
  height: 100%;
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-image: url('../images/space_background_pixel_art.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  color: #bb74ea;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px; /* Increased height for better alignment and spacing */
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
}

nav a {
  color: #bb74ea;
  text-decoration: none;
  margin-right: 20px;
}

.boxes-container {
  display: flex;
  max-width: 1000px; /* Increased width for larger boxes */
  margin: 0 auto;
  margin-top: 50px; /* Increased margin-top for better spacing from the header */
}

.box {
  flex: 1;
  min-width: 300px; /* Increased minimum width for better content display */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px; /* Increased height for larger box */
  margin: 20px; /* Increased margin for better spacing between boxes */
  padding: 20px; /* Increased padding for more internal space */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.box-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensures no unwanted scrolling on box-content itself */
}

.collapsible-container {
  position: relative;
}

.content {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  z-index: 100;
  overflow-y: auto; /* Ensures vertical scrolling */
  max-height: 220px; /* Define max height for the dropdown to manage space */
  border-radius: 5px;
}

button.collapsible.active + .content {
  display: block;
}

button {
  background-color: #bb74ea;
  color: white;
  padding: 12px; /* Increased padding for a bigger button */
  border: none;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#eventList li, #inviteList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

#inviteList {
  flex-grow: 1;
  overflow-y: auto; /* Only vertical scrolling */
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

#inviteName, #inviteEmail {
  font-size: 12px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: calc(100% - 22px);
  margin-bottom: 5px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.add-invite-button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically */
  margin-top: 10px; /* Add some margin to separate button from input fields */
}

#add-invite-button {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #bb74ea;
  color: white;
  padding: 12px; /* Increased padding for a bigger button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Ensure button takes full width of container */
}

#add-invite-button:hover {
  opacity: 0.8;
}
