body, html {
  height: 100%;
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-image: url('../images/space_background_pixel_art.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  color: #bb74ea;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
}

nav a {
  color: #bb74ea;
  text-decoration: none;
  margin-right: 20px;
}

.boxes-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
}

.box {
  flex: 1;
  width: 250px;
  height: 350px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: auto;
  overflow-x: hidden;
}

.collapsible-container {
  position: relative;
}

.content {
  position: absolute;
  width: 100%; /* Adjust the width as needed */
  height: 200px; /* Fixed height */
  top: 30px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  z-index: 100;
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden;
  border-radius: 5px; /* Optional, for rounded corners */
}

button.collapsible.active + .content {
  display: block;
}

button {
  font-family: "Press Start 2P", system-ui;
  background-color: #bb74ea;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

button:hover {
  opacity: 0.8;
}

.delete-button {
  background-color: transparent;
  color: red;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

#eventList li, #inviteList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.event-name, .invite-name {
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#inviteList {
  list-style: none;
  padding-left: 0;  /* Removes default padding */
}

#inviteList li {
  margin: 1px 0;
  font-size: 12px; /* Smaller font size for a compact look */
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: space-between; /* Aligns children (content and optional buttons) on opposite ends */
  align-items: center; /* Centers children vertically */
  margin-bottom: 5px; /* Space between items */
}

.invite-content {
  display: flex;
  flex-direction: column; /* Stack additional details vertically */
}

.invite-date, .invite-name {
  margin-bottom: 5px; 
}
