body, html {
    height: 100%;
    max-width: 100%;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-image: url('../images/space_background_pixel_art.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/* Styling for the logout button */
#logout-btn {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-left: auto; 
    background-color: #bb74ea;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

#logout-btn:hover {
    background-color: #a06cd5;
}


/* General header styling */
header {
    background-color: rgba(255, 255, 255, 0.8);
    color: #bb74ea;
    padding: 10px 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 30px;
}

/* Navigation container styling */
nav {
    width: 100%; /* Ensures the nav container fills the entire header */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for navigation links */
nav a {
    color: #bb74ea;
    text-decoration: none;
    margin-right: 20px; 
}



main {
    display: flex;
    align-items: stretch; /* This will make children stretch to fill the container height */
    justify-content: space-between;
    padding: 20px;
    height: 100%; /* Ensure it fills the vertical space */
}


#calendar-container {
    flex: 1; /* Allows the calendar to grow but with a maximum width */
    max-width: 50%; /* Limits the calendar to half of the main container */
    height: 670px; 
    padding: 20px;
    margin-right: 20px; 
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#calendar-container h3 {
    text-align: center;
    color: #bb74ea; 
    margin: 0 0 20px 0; 
    padding: 0; 
    font-size: 1.5em; 
    background-color: transparent; 
    border: none; 
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; 
}

#prev-month, #next-month {
    cursor: pointer;
    background-color: #bb74ea;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 25px; 
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px; 
    padding-right: 3px; 
    min-width: 50px; /* Ensure buttons have a fixed width */
    
}

#prev-month:hover, #next-month:hover {
    background-color: #a06cd5;
}


.weekdays, .days {
    list-style: none; /* Removes default list styling */
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
}

.weekdays li, .days li {
    flex: 1 0 14.28%; 
    text-align: center;
    border: 1px solid #ddd; 
    box-sizing: border-box; 
}

.days li {
    height: 100px; /* Sets a fixed height for day "boxes" */
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#month-select, #year-select {
    font-family: "Press Start 2P", system-ui;
    font-size: 16px;
    color: #bb74ea;
    cursor: pointer;
    border: 1px solid #a06cd5; 
    border-radius: 10px; 
    padding: 10px 20px; 
    background-color: rgba(255, 255, 255, 0.5); 
}


#side-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: stretch; /* This will make all the child boxes stretch to fill the container equally */
    max-width: 50%;
    height: 670px; /* Same as the calendar */
    margin-left: 10px;
}

.content-box {
    flex: 0 0 calc(50% - 10px); 
    padding: 10px;
    margin-bottom: 10px; 
    height: 350px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

.content-box:nth-of-type(2n) {
    margin-right: 0;
}

.content-box:nth-of-type(2n+1) {
    margin-right: 20px; 
}


.content-box h3, .content-box ul {
    background-color: rgba(255, 255, 255, 0.8);
}

.content-box h3 {
    font-size: 1em; 
    text-align: center;
    color: black; 
    margin: 0 0 20px 0; /* Space below the header */
    padding-top: 5px; 
    background-color: transparent; 
    border: none; 
}


.content-box ul {
    list-style-type: none; /* No bullets */
    padding: 0; 
    margin: 0; 
    background-color: transparent; 
}

footer {
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;
}

input[type="text"] {
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 10px 0;
    display: block;
    width: calc(100% - 20px);
}

button {
    background-color: transparent;
    color: red;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


#todo-list input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px; 
    font-family: 'Press Start 2P', cursive; 
    box-sizing: border-box; 
    border-radius: 10px; 
    border: 1px solid #ccc; 
}

#shopping-list input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px; 
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box; 
    border-radius: 10px; 
    border: 1px solid #ccc; 
}


#dinner-plans {
    overflow: hidden; /* Disables both horizontal and vertical scrolling */
}

#dinner-plans #dinner-items li {
    display: flex;
    align-items: center;
    justify-content: start; /* Aligns items to the start of the list item */
    margin-bottom: 0px; /* Adds space between each list item */
}

#dinner-plans #dinner-items label {
    margin-right: 3px; /* Adds spacing between label and input */
    white-space: nowrap; /* Ensures labels do not wrap */
}

#dinner-plans .dinner-item {
    flex-grow: 1;
    padding: 7px;
    margin: 0;
    border-radius: 10px;  /* Adds rounded corners to the input */
    border: 1px solid #ccc; 
}

#dinner-plans .week-navigation {
    display: flex; 
    justify-content: space-between; /* Distributes space evenly between the elements */
    align-items: center; 
    margin: 10px 0; 
}

#prevWeek, #nextWeek {
    cursor: pointer;
    background-color: #bb74ea;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px; 
    padding: 1px 8px; 
}

#prevWeek:hover, #nextWeek:hover {
    background-color: #a06cd5;
}

#weekLabel {
    flex-grow: 1; 
    text-align: center; 
    font-size: 14px; 
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 5px; 
}

#important-dates input[type="text"],
#important-dates input[type="date"] {
    flex-grow: 1; /* Allows inputs to grow and fill available space */
    flex-basis: 0%;
    padding: 8px;
    margin: 2; 
    border: 1px solid #ccc;
    border-radius: 10px;
}


#add-date {
    font-family: "Press Start 2P", system-ui;
    font-size: 11px; 
    padding: 8px;
    background-color: #bb74ea;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    flex-shrink: 0; /* Prevents the button from shrinking */
}


#add-date:hover {
    background-color: #a06cd5;
}

#dates-items li {
    list-style: none;
    margin: 1px 0;
    font-size: 12px; 
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#dates-items .date-item {
    display: flex;
    justify-content: space-between; /* Aligns children (contentDiv and deleteBtn) on opposite ends */
    align-items: center; 
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 5px;
}

.content-div {
    display: flex;
    flex-direction: column; /* Stack date and name vertically */
}

.date-text, .name-text {
    margin-bottom: 5px; 
}

#dates-items .delete-button {
    margin-left: 10px; 
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.2em;
}

#dates-items .date-item.today-highlight {
    background-color: rgba(194, 188, 252, 0.5); 
}


.swal2-icon.swal2-info {
    border-color: #a06cd5; 
    color: #bb74ea; 
  }

@media (max-width: 768px) {
    #calendar-container, #side-content {
        max-width: 100%;
        flex-direction: column;
        margin-right: 0; 
    }

    .content-box {
        width: 100%;
        margin-bottom: 20px; 
        margin-right: 0; 
    }
}