body, html {
    height: 100%;
    max-width: 100%;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-image: url('../images/space_background_pixel_art.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#logout-btn {
    padding: 10px 20px;
    background-color: #bb74ea;
    color: white;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    border-radius: 10px; /* Rounded corners */
    text-decoration: none;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    color: #bb74ea;
    padding: 10px 20px;
}

header nav a, header nav button {
    color: #bb74ea;
    text-decoration: none;
    margin: 0 10px;
}

#calendar-container > header {
    background-color: white;
    color: #bb74ea;
    padding: 0px 10px;
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    font-size: 1em;
}

main {
    display: flex;
    justify-content: space-between; /* Ensure components are spaced out */
    padding: 20px;
}

#calendar-container {
    flex: 1; /* Allows the calendar to grow but with a maximum width */
    max-width: 50%; /* Limits the calendar to half of the main container */
    padding: 20px;
    margin-right: 20px; /* Adds some space between the calendar and the lists */
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.weekdays, .days {
    list-style: none; /* Removes default list styling */
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
}

.weekdays li, .days li {
    flex: 1 0 14.28%; /* Distributes space evenly among items */
    text-align: center;
    border: 1px solid #ddd; /* Adds borders to create "boxes" */
    box-sizing: border-box; /* Includes padding and border in the element's total width */
}

.days li {
    height: 100px; /* Sets a fixed height for day "boxes" */
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
}

.empty-day {
    background-color: #f0f0f0; /* Distinguishes empty days from active days */
}

#side-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    max-width: 50%; /* Ensures side content takes up half of the parent's width */
    align-items: stretch; /* Stretches children to fill the available height */
}

.content-box {
    flex: 1 1 50%; /* Allows boxes to grow and shrink with a basis of 50% */
    padding: 10px;
    margin-bottom: 20px; /* Adds space between rows */
    background-color: #fff; /* Sets the background color to white */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow-y: auto; /* Enables vertical scrolling if content overflows */
    box-sizing: border-box;
    min-height: 150px; /* Sets a minimum height to ensure visual consistency */
}

/* Targets every 2nd box to remove the right margin, ensuring even spacing */
.content-box:nth-of-type(2n) {
    margin-right: 0;
}

.content-box h3, .content-box ul {
    background-color: #fff; /* Ensures text and lists are on a white background */
}

.content-box h3 {
    font-size: 1em; /* Adjusts the heading size for consistency */
}

.content-box ul {
    list-style-type: none; /* Removes bullet points from lists */
    padding: 0; /* Removes default padding */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;
}

input[type="text"] {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    margin: 10px 0;
    display: block;
    width: calc(100% - 20px);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    #side-content {
        flex-direction: column;
    }

    .content-box {
        width: 100%;
        margin-right: 0; /* Removing right margin for mobile */
        margin-bottom: 20px; /* Keeping consistent spacing on mobile */
    }
}